* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.himalayan {
  background-color: #AD0C12;
}
.sherpa {
   background-color: #000000;
}

.himalayan,
.sherpa {
  display: grid;
  place-items: center;
}

.himalayan img {
  height: 79vh;
  width: 100%;
  object-fit: contain;
  margin-top: -5%;
}


.sherpa img {
  height: 60vh;
}

.button a img{
  height: 5vh;
  width: max-content;
}


.logo{
  margin-top: 5%;
}

.logo img{
  height: 20vh;
}

.himalayan .logo img{
  height: 10vh;
}

@media screen and (max-width: 800px) {
  .container {
    height: 130vh;
    display: grid;
    grid-template-columns: 100%;
  }
  .sherpa img {
    height: 25vh;
  }
  .himalayan img {
    height: 12vh;
  }
}
